:root {
  --fc-border-color: var(--border);
}

.dark {
  --fc-border-color: var(--border);
  --fc-list-event-hover-bg-color: var(--accent);
}

.fc {
  font-size: 14px;
}

.fc-border {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
